    <!-- NEW MESSAGE CONTAINER STARTS -->
    <form class="pure-form pure-form-stacked">
        <fieldset>
            <!-- Nimi -->
            <label for="nimi">Nimi:</label>
            <input type="email" id="nimi" placeholder="Matti" />
            <!-- viesti -->
            <label for="viesti">Viesti:</label>
            <input type="text" id="viesti" placeholder="Tähän viestisi" />
            <!-- fun fact itsestäsi -->
            <label for="fun-fact">Hauska fakta sinusta:</label>
            <input type="text" id="fun-fact" placeholder="Söin kerran litran vaniljajäätelöä." />
            <!-- nappi -->
            <button type="submit" class="pure-button pure-button-primary">Lähetä</button>
        </fieldset>
    </form>
    <!-- NEW MESSAGE CONTAINER ENDS -->