<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuomaksen vieraskirja</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,700;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <script defer src="script.js"></script>
</head>
<body>
    <!-- PAGE TITLE CONTAINER STARTS -->
    <div class="page-title-container">
        <header class="site-name">Tuomaksen vieraskirja</header>
        <h1 class="desc">Tämä on vierjaskirja. Jätä terveisesi, jos uskallat. <br><br> 👽</h2>
        </div>
    <!-- PAGE TITLE CONTAINER ENDS -->
        
    <!-- NAV CONTAINER STARTS  -->
    <div class="nav-container">
        <ul class="nav-items">
            <a href="/views/index.html">Koti</a>
            <a href="/views/guestbook.html">Vieraskirja</a>
            <a href="/views/newmessage.html">Uusi viesti</a>
            <a href="/views/ajaxmessage.html">AJAX viesti</a>
        </ul>        
    </div>
    <!-- NAV CONTAINER ENDS  -->


    <!-- <div class="guestbook-container">
        <div class="guestbook-item">
            <p class="guest-funfact">Copyleft (c) Tuomas Rahikka</p>
        </div>
    </div> -->
</body>
</html>